@model List<GetEmployeeVM>
@{
    int count = 0;
}

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employees</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Position</th>
                            <th>X</th>
                            <th>Facebook</th>
                            <th>Linkedin</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GetEmployeeVM employeeVM in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@employeeVM.Name</td>
                                <td>@employeeVM.Photo</td>
                                <td>@employeeVM.X</td>
                                <td>@employeeVM.Facebook</td>
                                <td>@employeeVM.Linkedin</td>


                                <td><label class="badge badge-danger">Pending</label></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>