@model List<GetEmployeeVM>
@{
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employees</h4>
            <a asp-action="create" class="btn btn-primary">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Position</th>
                            <th>X</th>
                            <th>Facebook</th>
                            <th>Linkedin</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GetEmployeeVM employeeVM in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@employeeVM.Name</td>
                                <td>
                                   <img src="~/assets/img/@employeeVM.Image">     
                                    </td>
                                <td>@employeeVM.PositionName</td>
                                <td>@employeeVM.X</td>
                                <td>@employeeVM.Facebook</td>
                                <td>@employeeVM.Linkedin</td>
                                <td>
                                    <a asp-action="update" asp-route-id="@employeeVM.Id" class="btn btn-primary">Update</a>
                                    <a asp-action="delete" asp-route-id="@employeeVM.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>